# Assignment 2

# 1. Given below is a list of fruits. Create a dictionary which hasthe fruit name as key and the count of fruit as value.
 ["apple", "banana", "orange", "apple", "kiwi", "banana",
 "grape", "orange", "mango", "apple"]

 For example, if fruits is a list:
 fruits = ['apple','kiwi','apple','kiwi','banana']
 
 #The the final result should be :
 {'apple':2,'kiwi':2','banana':1}

In [5]:
fruits = ["apple", "banana", "orange", "apple", "kiwi", "banana", "grape", "orange", "mango", "apple"]

In [6]:
fruits_counts = {}

In [19]:
for fruit in fruits:
    if fruit in fruits_counts:
        fruit_counts[fruit] += 1
    else:
        fruit_counts[fruit] = 1

In [9]:
print(fruit_counts)

{'apple': 1, 'banana': 1, 'orange': 1, 'kiwi': 1, 'grape': 1, 'mango': 1}

## 2. Given below is a list of some state names, and the list is uncleaned.
 
 Create a new list with the name “raajya”and filter out the state
 names from the given list and add the state in the raajya list,
 making sure there is no repetitio
 n.
 [' ', 'Sikkim', ' ', 'Tripura', 'Mizoram', 'Nagaland', ' ',
 '', ' ', '', 'Haryana', ' ', '', 'Meghalaya', 'Andhra
 Pradesh', ' ', 'Meghalaya', ' ', ' ', '', ' ', '',
 'Maharashtra', 'Mizoram', 'Sikkim', '', 'Punjab',
 'Uttarakhand', 'Uttarakhand', ' ']

In [11]:
original_list = [' ', 'Sikkim', ' ', 'Tripura', 'Mizoram', 'Nagaland', ' ', '', ' ', '', 'Haryana', ' ', '', 'Meghalaya', 'Andhra Pradesh',
                ' ','Meghalaya', ' ', ' ', '', ' ', '', 'Maharashtra', 'Mizoram', 'Sikkim', '', 'Punjab', 'Uttarakhand', 'Uttarakhand',
                 ' ']

In [12]:
unique_states = set()

In [13]:
for state in original_list:
    cleaned_state = state.strip()
    if cleaned_state:
        unique_states.add(cleaned_state)

In [17]:
raajya = list(unique_states)

In [18]:
print(raajya)

['Haryana', 'Tripura', 'Maharashtra', 'Uttarakhand', 'Mizoram', 'Punjab', 'Andhra Pradesh', 'Sikkim', 'Nagaland', 'Meghalaya']

## 3. Working with the above list, this time, replace all the blank and empty string values with 0 (zero).
[' ', 'Sikkim', ' ', 'Tripura', 'Mizoram', 'Nagaland', ' ',
 '', ' ', '', 'Haryana', ' ', '', 'Meghalaya', 'Andhra
 Pradesh', ' ', 'Meghalaya', ' ', ' ', '', ' ', '',
 'Maharashtra', 'Mizoram', 'Sikkim', '', 'Punjab',
 'Uttarakhand', 'Uttarakhand', ' ']

In [27]:
original_list = [' ', 'Sikkim', ' ', 'Tripura', 'Mizoram', 'Nagaland', ' ', '', ' ', '', 'Haryana', ' ', '', 'Meghalaya', 'Andhra Pradesh',
                ' ','Meghalaya', ' ', ' ', '', ' ', '', 'Maharashtra', 'Mizoram', 'Sikkim', '', 'Punjab', 'Uttarakhand', 'Uttarakhand',
                 ' ']

In [28]:
updated_list = [0 if item.strip() == '' else item for item in original_list]

In [29]:
print(updated_list)

[0, 'Sikkim', 0, 'Tripura', 'Mizoram', 'Nagaland', 0, 0, 0, 0, 'Haryana', 0, 0, 'Meghalaya', 'Andhra Pradesh', 0, 'Meghalaya', 0, 0, 0, 0, 0, 'Maharashtra', 'Mizoram', 'Sikkim', 0, 'Punjab', 'Uttarakhand', 'Uttarakhand', 0]

## 4.Below is a list of dictionaries of some student records. While  creating the record for each student, the admin made a mistake o 
 keeping the “id” key at the end of each record. You have t 
 responsibility of restructuring the record, bringing the “id”  y
 at the beginning of the recor
 d.
 [{'name': 'Divyansh Dhawan', 'marks': 89, 'state': 'Karnataka',
 'id': 508},
 {'name': 'Vedika Handa', 'marks': 67, 'state': 'Bihar', 'id':
 740},
 {'name': 'Aaina Halder', 'marks': 80, 'state': 'Chhattisgarh',
 'id': 748},
 {'name': 'Veer Dhillon', 'marks': 92, 'state': 'Bihar', 'id':
 460},
 {'name': 'Yasmin Dora', 'marks': 74, 'state': 'Uttarakhand',
 'id': 630},
 {'name': 'Lagan Dutt', 'marks': 91, 'state': 'Kerala', 'id':
 707},
 {'name': 'Nitara Dash', 'marks': 71, 'state': 'Assam', 'id':
 178},
 {'name': 'Hunar Kari', 'marks': 71, 'state': 'Bihar', 'id':
 238},
 {'name': 'Mehul Issac', 'marks': 66, 'state': 'Maharashtra',
 'id': 654},
 {'name': 'Aarush Seshadri', 'marks': 72, 'state':
 'Chh
 ttisgarh'
 , 'id': 875}]
 EXAMPLE
 #For example, say the wrong record is as follows:
 {'name': 'Tiya Barad', 'marks': 95, 'state': 'Arunachal
 Pradesh', 'id': 636}
 #The correct version will be
 {'id': 636,'name': 'Tiya Barad', 'marks': 95, 'state':
 'Arunachal Pradesh'}

In [39]:
student_records = [{'name': 'Divyansh Dhawan', 'marks': 89, 'state': 'Karnataka', 'id': 508},
    {'name': 'Vedika Handa', 'marks': 67, 'state': 'Bihar', 'id': 740},
    {'name': 'Aaina Halder', 'marks': 80, 'state': 'Chhattisgarh', 'id': 748},
    {'name': 'Veer Dhillon', 'marks': 92, 'state': 'Bihar', 'id': 460},
    {'name': 'Yasmin Dora', 'marks': 74, 'state': 'Uttarakhand', 'id': 630},
    {'name': 'Lagan Dutt', 'marks': 91, 'state': 'Kerala', 'id': 707},
    {'name': 'Nitara Dash', 'marks': 71, 'state': 'Assam', 'id': 178},
    {'name': 'Hunar Kari', 'marks': 71, 'state': 'Bihar', 'id': 238},
    {'name': 'Mehul Issac', 'marks': 66, 'state': 'Maharashtra', 'id': 654},
    {'name': 'Aarush Seshadri', 'marks': 72, 'state': 'Chhattisgarh', 'id': 875}]

In [40]:
restructured_records = [{'id': record['id'], 'name': record['name'], 'marks': record['marks'], 'state': record['state']}
for record in student_records
]

In [41]:
print(restructured_records)

[{'id': 508, 'name': 'Divyansh Dhawan', 'marks': 89, 'state': 'Karnataka'}, {'id': 740, 'name': 'Vedika Handa', 'marks': 67, 'state': 'Bihar'}, {'id': 748, 'name': 'Aaina Halder', 'marks': 80, 'state': 'Chhattisgarh'}, {'id': 460, 'name': 'Veer Dhillon', 'marks': 92, 'state': 'Bihar'}, {'id': 630, 'name': 'Yasmin Dora', 'marks': 74, 'state': 'Uttarakhand'}, {'id': 707, 'name': 'Lagan Dutt', 'marks': 91, 'state': 'Kerala'}, {'id': 178, 'name': 'Nitara Dash', 'marks': 71, 'state': 'Assam'}, {'id': 238, 'name': 'Hunar Kari', 'marks': 71, 'state': 'Bihar'}, {'id': 654, 'name': 'Mehul Issac', 'marks': 66, 'state': 'Maharashtra'}, {'id': 875, 'name': 'Aarush Seshadri', 'marks': 72, 'state': 'Chhattisgarh'}]

## 5. Working with the above records, store the record of the students
 who have scored marks equal to or above 80 in a new list name
 “top_students”
[{'name': 'Divyansh Dhawan', 'marks': 89, 'state': 'Karnataka',
 'id': 508},
 {'name': 'Vedika Handa', 'marks': 67, 'state': 'Bihar', 'id':
 740},
 {'name': 'Aaina Halder', 'marks': 80, 'state': 'Chhattisgarh',
 'id': 748},
 {'name': 'Veer Dhillon', 'marks': 92, 'state': 'Bihar', 'id':
 460},
 {'name': 'Yasmin Dora', 'marks': 74, 'state': 'Uttarakhand',
 'id': 630},
 {'name': 'Lagan Dutt', 'marks': 91, 'state': 'Kerala', 'id':
 707},
 {'name': 'Nitara Dash', 'marks': 71, 'state': 'Assam', 'id':
 178},
 {'name': 'Hunar Kari', 'marks': 71, 'state': 'Bihar', 'id':
 238},
 {'name': 'Mehul Issac', 'marks': 66, 'state': 'Maharashtra',
 'id': 654},
 {'name': 'Aarush Seshadri', 'marks': 72, 'state':
 'Chhattisgarh', 'id': 875}].

In [44]:
student_records = [{'name': 'Divyansh Dhawan', 'marks': 89, 'state': 'Karnataka', 'id': 508},
    {'name': 'Vedika Handa', 'marks': 67, 'state': 'Bihar', 'id': 740},
    {'name': 'Aaina Halder', 'marks': 80, 'state': 'Chhattisgarh', 'id': 748},
    {'name': 'Veer Dhillon', 'marks': 92, 'state': 'Bihar', 'id': 460},
    {'name': 'Yasmin Dora', 'marks': 74, 'state': 'Uttarakhand', 'id': 630},
    {'name': 'Lagan Dutt', 'marks': 91, 'state': 'Kerala', 'id': 707},
    {'name': 'Nitara Dash', 'marks': 71, 'state': 'Assam', 'id': 178},
    {'name': 'Hunar Kari', 'marks': 71, 'state': 'Bihar', 'id': 238},
    {'name': 'Mehul Issac', 'marks': 66, 'state': 'Maharashtra', 'id': 654},
    {'name': 'Aarush Seshadri', 'marks': 72, 'state': 'Chhattisgarh', 'id': 875}]

In [46]:
top_students = [record for record in student_records if record['marks'] >= 80]

In [47]:
print(top_students)

[{'name': 'Divyansh Dhawan', 'marks': 89, 'state': 'Karnataka', 'id': 508}, {'name': 'Aaina Halder', 'marks': 80, 'state': 'Chhattisgarh', 'id': 748}, {'name': 'Veer Dhillon', 'marks': 92, 'state': 'Bihar', 'id': 460}, {'name': 'Lagan Dutt', 'marks': 91, 'state': 'Kerala', 'id': 707}]